.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 15px;
}

.title {
  align-self: flex-start;
  margin-bottom: 10px;
  color: #f9f9f9;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.label {
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #686868;
}

.phoneInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 305px;
  margin-top: 8px;
}

.phoneLabel {
  font-size: 14px;
  color: #8d929a;
  margin-bottom: 6px;
}

.phoneInput {
  width: 100%;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid #3e3e3e;
  background: transparent;
  color: #f9f9f9;
  font-size: 14px;
}

.btn {
  font-weight: 700;
  font-size: 14px;
  border-radius: 30px;
  padding: 12px 29px;
  background: #f9f9f9;
  width: 50%;
  margin-top: 15px;

  border: 1px solid rgba(249, 249, 249, 0.2);

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: transparent;
    color: #f9f9f9;
  }
}

.customSelectWrapper {
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.selectButton {
  width: 305px;
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid #3e3e3e;
  background: transparent;
  color: #f9f9f9;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrowUp {
  transform: rotate(180deg);
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  padding: 10px 0;
  border-radius: 12px;
  background: #262626;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.dropdownList::-webkit-scrollbar {
  width: 6px;
}

.dropdownList::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 10px;
}

.dropdownItem {
  padding: 8px 14px;
  font-size: 14px;
  color: #8d929a;
  cursor: pointer;
  transition: color 0.2s;
}

.dropdownItem:hover {
  color: #f9f9f9;
}
